{% extends 'videos/layout.html' %}

{% block title %}YouTube{% endblock %}

{% block body %}
<div id="container">
    <a href="{% url 'index' %}"><div class="video" style="display: inline;">
        <img class="thumbnail" src="../../static/Screenshot_467.png" alt="video"><br>
        <img class="profilepic" src="../../static/black.png" alt="video"><!--
     --><div class="details">
            <b>Making of suriya's 24 in poland scenes</b><br>
            <p>ROYAL EXPRESS TV</p>
            <p>10 lakh views</p>
        </div>
    </div></a>
HaiSearch Results
Web results

Paragraphs – The Writing Center • University of North ...writingcenter.unc.edu › tips-and-tools › paragraphs
Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the ...

How Long is a Paragraph? - Grammarlywww.grammarly.com › blog › how-long-is-a-paragraph
Various educators teach rules governing the length of paragraphs. They may say that a paragraph should be 100 to 200 words long, or be no more than five or ...

A Big Long Paragraph That None of Us Edit « Kenyon Review ...kenyonreview.org › 2008/10 › a-big-long-paragraph-t...
A Big Long Paragraph That None of Us Edit. David F. Smydra Jr. October 24, 2008.
</div>

        <div id="videos" class="container">

            <a href="{% url 'index' %}"><div class="video" style="display: inline;">
                <img class="thumbnail" src="../../static/Screenshot_467.png" alt="video"><br>
                <img class="profilepic" src="../../static/black.png" alt="video"><!--
             --><div class="details">
                    <b>Making of suriya's 24 in poland scenes</b><br>
                    <p>ROYAL EXPRESS TV</p>
                    <p>10 lakh views</p>
                </div>
            </div></a>

            <a href="{% url 'index' %}"><div class="video" style="display: inline;">
                <img class="thumbnail" src="../../static/Screenshot_467.png" alt="video"><br>
                <img class="profilepic" src="../../static/black.png" alt="video"><!--
             --><div class="details">
                    <b>Making of suriya's 24 in poland scenes</b><br>
                    <p>ROYAL EXPRESS TV</p>
                    <p>10 lakh views</p>
                </div>
            </div></a>

            <a href="{% url 'index' %}"><div class="video" style="display: inline;">
                <img class="thumbnail" src="../../static/Screenshot_467.png" alt="video"><br>
                <img class="profilepic" src="../../static/black.png" alt="video"><!--
             --><div class="details">
                    <b>Making of suriya's 24 in poland scenes</b><br>
                    <p>ROYAL EXPRESS TV</p>
                    <p>10 lakh views</p>
                </div>
            </div></a>

            <a href="{% url 'index' %}"><div class="video" style="display: inline;">
                <img class="thumbnail" src="../../static/Screenshot_467.png" alt="video"><br>
                <img class="profilepic" src="../../static/black.png" alt="video"><!--
             --><div class="details">
                    <b>Making of suriya's 24 in poland scenes</b><br>
                    <p>ROYAL EXPRESS TV</p>
                    <p>10 lakh views</p>
                </div>
            </div></a>

            <a href="{% url 'index' %}"><div class="video" style="display: inline;">
                <img class="thumbnail" src="../../static/Screenshot_467.png" alt="video"><br>
                <img class="profilepic" src="../../static/black.png" alt="video"><!--
             --><div class="details">
                    <b>Making of suriya's 24 in poland scenes</b><br>
                    <p>ROYAL EXPRESS TV</p>
                    <p>10 lakh views</p>
                </div>
            </div></a>

            <a href="{% url 'index' %}"><div class="video" style="display: inline;">
                <img class="thumbnail" src="../../static/Screenshot_467.png" alt="video"><br>
                <img class="profilepic" src="../../static/black.png" alt="video"><!--
             --><div class="details">
                    <b>Making of suriya's 24 in poland scenes</b><br>
                    <p>ROYAL EXPRESS TV</p>
                    <p>10 lakh views</p>
                </div>
            </div></a>            <a href="{% url 'index' %}"><div class="video" style="display: inline;">
                <img class="thumbnail" src="../../static/Screenshot_467.png" alt="video"><br>
                <img class="profilepic" src="../../static/black.png" alt="video"><!--
             --><div class="details">
                    <b>Making of suriya's 24 in poland scenes</b><br>
                    <p>ROYAL EXPRESS TV</p>
                    <p>10 lakh views</p>
                </div>
            </div></a>            <a href="{% url 'index' %}"><div class="video" style="display: inline;">
                <img class="thumbnail" src="../../static/Screenshot_467.png" alt="video"><br>
                <img class="profilepic" src="../../static/black.png" alt="video"><!--
             --><div class="details">
                    <b>Making of suriya's 24 in poland scenes</b><br>
                    <p>ROYAL EXPRESS TV</p>
                    <p>10 lakh views</p>
                </div>
            </div></a>            <a href="{% url 'index' %}"><div class="video" style="display: inline;">
                <img class="thumbnail" src="../../static/Screenshot_467.png" alt="video"><br>
                <img class="profilepic" src="../../static/black.png" alt="video"><!--
             --><div class="details">
                    <b>Making of suriya's 24 in poland scenes</b><br>
                    <p>ROYAL EXPRESS TV</p>
                    <p>10 lakh views</p>
                </div>
            </div></a>            <a href="{% url 'index' %}"><div class="video" style="display: inline;">
                <img class="thumbnail" src="../../static/Screenshot_467.png" alt="video"><br>
                <img class="profilepic" src="../../static/black.png" alt="video"><!--
             --><div class="details">
                    <b>Making of suriya's 24 in poland scenes</b><br>
                    <p>ROYAL EXPRESS TV</p>
                    <p>10 lakh views</p>
                </div>
            </div></a>
    </div>
    
{%endblock%}